<h1>create article</h1>
<%= link_to 'Home ', root_path %>
<%= form_for @article do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, placeholer: 'title' %><br><br>
    <%= f.label :body %>
    <%= f.text_area :body, placeholer: 'body' %><br><br>
    <%= f.submit 'submit' %>
<% end %>